# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch
*.p1
*.pre

# Dependency
*.d

# Build files
*.as
*.cmf
*.cof
*.sym
*.sdb
*.hxl
*.hex

# xc8 startup code
startup.*

# Debug files
*.dSYM/

# Backup files
*~
